body {
  /* DELETE THIS LATER */
  background-color: #FAFAFA;  
}

.nav-top {
  position: sticky;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px #cccccc;
  justify-content: flex-end;
  padding: 0 16px;
}

.nav-sign-in {
  border: solid 1px #065fd4;
  padding: 10px 15px;
  display: flex;
  text-decoration: none;
  color: #065fd4;
  border-radius: 2px;
  align-items: center;
}

.sign-in-icon {
  transform: scale(1.4);
  margin-right: 10px;
}

.sign-in-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}