
.nav-top {
    position: fixed;
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px #cccccc;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #ffffff;
    z-index: 999;
    left: 0;
    right: 0;
}

.nav-sign-in {
  border: solid 1px #065fd4;
  padding: 10px 15px;
  display: flex;
  text-decoration: none;
  color: #065fd4;
  border-radius: 2px;
  align-items: center;
}

.nav-sign-out {
  // border: solid 1px #065fd4;
  border: solid 1px #ff0500;
  padding: 10px 15px;
  display: flex;
  text-decoration: none;
  // color: #065fd4;
  color: #ff0500;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;
}

.sign-in-icon {
  transform: scale(1.4);
  margin-right: 10px;
}

.sign-in-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.sign-out-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.main-logo-text-link {
    text-decoration: none;
    color: #ff0500;
}

.nav-right {
  display: flex;
}

.upload-icon {
  display: flex;
  align-items: center;
  margin: 0 15px;
  i {
    color: #606060;
  }
}

.menu-bars {
  i {
    color: #606060;
  }
}