
.signin-page-entire {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-page {
    border: solid 1px #dadce0;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 48px 40px 36px;
    width: 448px;
    min-height: 55%;
    input {
      outline: none;
    }
}

// replace this later
.logo-signin-div {
  text-align: center;
  width: 100%;
  font-size: 24px;
}

.signin-text-h1 {
  text-align: center;
  font-size: 24px;
  padding-top: 16px;
  color: #202124;
  font-family: 'Open Sans', sans-serif;
}

.continue-text-div {
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 0;
  margin-top: 10px;
  color: #202124;
  font-family: 'Open Sans', sans-serif;
}

form.signin-form {
    padding-top: 24px;
}

.input-username {
  padding-top: 8px;
  input {
    width: 100%;
    height: 55px;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    outline: none;
  }
  input:focus {
    border: 2px solid #2d73e8;
  }
}


.input-password {
  margin-top: 30px;
  input {
    width: 100%;
    height: 55px;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    outline: none;
  }
  input:focus {
    border: 2px solid #2d73e8;
  }
}

.link-and-button {
    margin-top: 75px;
}

.link-text {
  text-decoration: none;
}

.next-button {
  width: 90px;
  height: 40px;
  background-color: #1a73e8;
  color: white;
  margin-left: 165px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.demo-button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.demo-button {
  width: 90px;
  height: 40px;
  background-color: #0e8b34;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 4px;
  border: none;
}

.nav-top-left {
    display: inherit;
}

.menu-bars {
    margin: 0px 15px 0 2px;
    padding: 8px;
}

.nav-logo {
    color: #ff0500;
    transform: scale(1.5);
    padding: 8px;
    margin-left: 6px;
}

span.nav-logo-text {
  color: #282828;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  padding-left: 1px;
  letter-spacing: -0.5px;
  font-weight: 900;
}
