
.video-show-page-whole {
  display: flex;
  font-family: 'Roboto', sans-serif;
};

.video-show-page {
  width: 64%;
  margin-left: 24px;
  position: relative;
  top: 56px;
  padding: 24px 24px 0 0;
  transition: width 500ms;
};

@media only screen and (max-width: 1000px) {
  div.video-show-index {
    display: none;
  }
  div.video-show-page {
    width: 100%;
  }
}

.video-show-index {
    width: 36%;
    padding: 0;
    position: relative;
    top: 56px;
    padding: 24px 24px 0 0;
};
  
.video-show-title-div {
  padding: 20px 0 8px;
  border-bottom: solid 1px #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
};

.video-show-title-text {
  font-size: 18px;
  color: #0D0D0D;
};

.video-show-stats-div {
  height: 40px;
  display: flex;
  align-items: center;
};

.video-show-views-text {
  font-size: 16px;
  color: #606060;
};

.author-description-div-whole {
  // padding-left: 64px;
  border-bottom: solid 1px #e5e5e5;
  margin: 0 0 24px;
  display: flex;
};

.author-icon-div {
    width: 40px;
    height: 40px;
    background-color: #074c3f;
    border-radius: 100%;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
    }
}

.author-div {
    margin-bottom: 12px;
    padding-top: 16px;
    height: 50px;
    display: flex;
    justify-content: space-between;
};

.author-text {
  font-size: 14px;
  color: #0D0D0D;
  font-weight: 900;
};

.date-text {
  font-size: 13px;
  color: #606060;
};

.description-div {
  font-size: 14px;
  color: #0D0D0D;
  word-wrap: break-word;
  padding-bottom: 16px;
};

.show-button-div {
  
  button {
    color: #ffffff;
    height: 36px;
    width: 107px;
    padding: 10px 16px;
    background-color: #285fd4;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 2.5px;
  }
  
  button:hover {
    background-color: #3c82de;
  }

  button:disabled {
    background-color: #777;
    cursor: not-allowed;
  }

  .show-delete-button {
    margin-right: 3px;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.likes-dislikes {
  color: #909090;
  // margin-right: 20px;
  // width: 100px;
  // display: flex;
  // justify-content: space-between;
  // border: 1px solid green;
}

.likes-dislikes-buttons {
  color: #909090;
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-right: 20px;
}

.likes-count {
  cursor: pointer;
  // border: 1px solid red;

  a:visited {
    color: #909090;
  }
  a:link {
    text-decoration: none;
  }
  i {
    margin-right: 10px;
  }
}

.likes-count-blue {
  // color: #3ea6ff; dark mode color
  color: #065fd4;
  text-decoration: none;
  // border: 1px solid #065fd4;

  cursor: pointer;
  i {
    margin-right: 10px;
  }
}

.dislikes-count {
  cursor: pointer;
  // border: 1px solid red;

  a:visited {
    color: #909090;
  }
  a:link {
    text-decoration: none;
  }
  i {
    margin-right: 10px;
  }
}

.dislikes-count-blue {
  // color: #3ea6ff; dark mode color
  color: #065fd4;
  text-decoration: none;
  // border: 1px solid #065fd4;

  cursor: pointer;
  i {
    margin-right: 10px;
  }
}

.comment-form {
  // border: 1px solid #065fd4;
  margin: 24px 0 32px;
  height: 116px;
}

.comments-count {
  // border-bottom: 1px solid green;
  margin: 0 0 24px;
  height: 23px;
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0D0D0D;
  }
}

.comment-input {
  // border-top: 1px solid rgb(255, 94, 0);
  // border-left: 1px solid rgb(255, 94, 0);
  // margin: 24px 0 0 64px;
  padding: 0 0 8px;
  height: 32px;
  display: flex;

  .comment-input-icon {
    width: 40px;
    height: 40px;
    background-color: #074c3f;
    border-radius: 100%;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: white;
      transform: scale(2);
    }

    p {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
    }
  }

  a {
    flex: 1;
  }
}

.comment-input-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #0D0D0D;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 4px;
  flex: 1;
}

.comment-input-text:focus {
  border: none;
  border-bottom: 2px solid #696969;
}

.comment-form-buttons {
  // border-top: 1px solid red;
  height: 36px;
  display: flex;
  justify-content: flex-end;
}

.comment-buttons-div {
  width: 203px;
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.comment-cancel-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 86px;
  height: 36px;
  color: #606060;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 2px;
  cursor: pointer;
}
.comment-cancel-btn:active {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 86px;
  height: 36px;
  color: #606060;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 2px;
  cursor: pointer;
}

.comment-comment-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 101px;
  height: 36px;
  color: #ffffff;
  background-color: #cccccc;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px 16px;
}

.comment-comment-btn-blue {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 101px;
  height: 36px;
  color: #ffffff;
  background-color: #065fd4;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px 16px;
  cursor: pointer;
}