
.video-index-splash-whole {
    background-color: #fafafa;
}

.video-index-splash {
    margin: auto;
    padding: 100px;
};

.video-index-splash-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

};

