
.video-index-item-splash {
    font-family: 'Roboto', sans-serif;
    height: 204px;

};

li.video-index-splash-li {
    margin: 0 5px 5px 0;
};

.video-index-text-below {
    height: 84px;
    padding: 0 24px 0 0;
};

p.video-index-title-below {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #0D0D0D;
    padding-top: 10px;
};

.video-index-bottom-container {
    padding-top: 10px;
};

p.video-index-author-below {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #606060;
};
