
.video-index-splash-whole {
    background-color: #fafafa;
    position: relative;
    top: 56px;
    padding: 50px 50px 0 50px;
}

// .video-index-splash {
    // margin: auto;
    // padding: 100px;
// };

.video-index-splash-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    // justify-content: center;
};

