
.video-index-splash-whole {
    background-color: #fafafa;
    padding: 50px 50px 0 50px;
    flex: 1;
};

.video-index-splash-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    // justify-content: center;
};

